<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- See avahi.service(5) for more information about this configuration file -->

<service-group>

  <name replace-wildcards="yes">Node-RED for %h</name>
  <service>

    <type>_medha._tcp</type>
    <port>1880</port>
  </service>

</service-group>
